<div class="container">
    <center><h1>NUEVA TAREA</h1></center>
        <%= @tarea_id %>
    <%= render 'form', tarea: @tarea %>

    <%= link_to 'Volver', tareas_path, class: 'btn btn-primary'%>
</div>