<div class="container">
    <center><h1>EDITAR TAREA</h1></center>

        <%= render 'form', realizado: @realizado %>

    <%= link_to '', @realizado %> 
    <%= link_to '', realizados_path %>
</div>