<%= @user %>
<div id="chart">


</div>
<script type="text/javascript">
var options = {
    series: [{
    data: <%= @temporal %>
  }, {
    data: [53, 32, 33, 52, 13, 44, 32]
  }],
    chart: {
    type: 'bar',
    height: 430
  },
  plotOptions: {
    bar: {
      horizontal: true,
      dataLabels: {
        position: 'top',
      },
    }
  },
  dataLabels: {
    enabled: true,
    offsetX: -6,
    style: {
      fontSize: '12px',
      colors: ['#fff']
    }
  },
  stroke: {
    show: true,
    width: 1,
    colors: ['#fff']
  },
  xaxis: {
    categories: ['Giovani', 'Jose', 'Cesar', 'Cristhian', 'Heriberto', 'Enzo', 'Marcos'],
  },
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
  </script>
 